table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.input-field {
  width: 200px;
}

.mat-focused .placeholder {
  display: none;
}

.mat-form-field-should-float .placeholder {
  display: none;
}

.selected-currency {
  padding-left: 10px;
}
