<div *ngIf="networthViewData" class="networth-profile">
  <h3>
    Networth: {{ networthViewData.totalNetworth | currency }}
    {{ selectedCurrency }}
  </h3>

  <mat-form-field>
    <mat-label>Supported Currencies</mat-label>
    <mat-select [formControl]="currencyFormControl" [value]="selectedCurrency">
      <mat-option *ngFor="let currency of supportedCurrencies" [value]="currency">
        {{ currency }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    [disabled]="!networthForm.valid"
    (click)="onCalculateNetworthSubmit()"
  >
    Calculate
  </button>

  <form [formGroup]="networthForm" *ngIf="networthViewData">
    <h3>Assets</h3>
    <table>
      <tr>
        <th>Cash And Invesments</th>
        <th></th>
      </tr>
      <tr *ngFor="let asset of networthViewData.assets.cashAndInvestments">
        <td>{{ asset.label }}</td>
        <td>
          $
          <mat-form-field class="input-field">
            <input matInput [formControlName]="asset.fieldName" [value]="asset.amount" />
            <mat-placeholder class="placeholder">0.00</mat-placeholder>
          </mat-form-field>
          {{ selectedCurrency }}
        </td>
      </tr>
      <br />

      <tr>
        <th>Long Term Assets</th>
        <th></th>
      </tr>
      <tr *ngFor="let asset of networthViewData.assets.longTermAssets">
        <td>{{ asset.label }}</td>
        <td>
          $
          <mat-form-field class="input-field">
            <input matInput [formControlName]="asset.fieldName" [value]="asset.amount" />
            <mat-placeholder class="placeholder">0.00</mat-placeholder>
          </mat-form-field>
          {{ selectedCurrency }}
        </td>
      </tr>

      <br />

      <tr>
        <th>Total Assets</th>
        <td>
          {{ networthViewData.totalAssets | currency }}
          {{ selectedCurrency }}
        </td>
      </tr>
    </table>

    <br />
    <br />

    <h3>Liabilities</h3>
    <table>
      <tr>
        <th>Short Term Liabilities</th>
        <th>Monthly Payment</th>
        <th></th>
      </tr>
      <tr *ngFor="let liability of networthViewData.liabilities.shortermLiabilities">
        <td>{{ liability.label }}</td>
        <td>{{ liability.monthlyPayment | currency }}</td>
        <td>
          $
          <mat-form-field class="input-field">
            <input matInput [formControlName]="liability.fieldName" [value]="liability.amount" />
            <mat-placeholder class="placeholder">0.00</mat-placeholder>
          </mat-form-field>
          {{ selectedCurrency }}
        </td>
      </tr>

      <br />

      <tr>
        <th>Long Term Debt</th>
        <th>Monthly Payment</th>
        <th></th>
      </tr>
      <tr *ngFor="let liability of networthViewData.liabilities.longTermDebts">
        <td>{{ liability.label }}</td>
        <td>{{ liability.monthlyPayment | currency }}</td>
        <td>
          $
          <mat-form-field class="input-field">
            <input matInput [formControlName]="liability.fieldName" [value]="liability.amount" />
            <mat-placeholder class="placeholder">0.00</mat-placeholder>
          </mat-form-field>
          {{ selectedCurrency }}
        </td>
      </tr>

      <br />

      <tr>
        <th>Total Liabilities</th>
        <td></td>
        <td>
          {{ networthViewData.totalLiabilities | currency }}
          {{ selectedCurrency }}
        </td>
      </tr>
    </table>
  </form>
</div>
