<h3 class="alert-danger" *ngIf="errorMsg.length">
  {{ errorMsg }}
</h3>

<mat-button-toggle-group
  name="fontStyle"
  aria-label="Font Style"
  (change)="handleFormTypeSelected($event.value)"
>
  <mat-button-toggle value="Login" [checked]="selectedForm === 'Login'"> Login </mat-button-toggle>
  <mat-button-toggle value="Register" [checked]="selectedForm === 'Register'">
    Register
  </mat-button-toggle>
</mat-button-toggle-group>

<ng-container *ngIf="selectedForm === 'Login'">
  <app-login-form (formSubmitted)="handleLoginFormSubmitted($event)"></app-login-form>
</ng-container>

<ng-container *ngIf="selectedForm === 'Register'">
  <app-register-form (formSubmitted)="handleRegisterFormSubmitted($event)"></app-register-form>
</ng-container>
