<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="login-full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput placeholder="username" formControlName="username" />
  </mat-form-field>

  <mat-form-field class="login-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="password" formControlName="password" />
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Submit</button>

  <div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)" class="alert-danger">
    Both username and password is required
  </div>
</form>
